.site-header {
  display: grid;
  grid-template-columns: auto max-content;
}

.site-header-left-side {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  padding-left: 0.5rem;

  img {
    width: 32px;
    height: 32px;
  }

  h1 {
    font-size: 1.4rem;
  }
}

.site-header-right-side {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
