.inpainting-alerts {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 2;
  margin: 0.5rem;
  pointer-events: none;
  background-color: var(--inpainting-alerts-bg);
  border-radius: 0.2rem;
  overflow: hidden;

  button {
    border-radius: 0;
    height: 100%;
    vertical-align: top;

    svg {
      fill: var(--inpainting-alerts-icon-color);
    }

    &[data-selected='true'] {
      background-color: var(--inpainting-alerts-bg-active);
      svg {
        fill: var(--inpainting-alerts-icon-active);
      }
    }

    &[data-alert='true'] {
      background-color: var(--inpainting-alerts-bg-alert);
      svg {
        fill: var(--inpainting-alerts-icon-alert);
      }
    }
  }
}
