@use '../../../styles/Mixins/' as *;

.brush-preview-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
}

.brush-preview {
  border-radius: 50%;
  border: 1px black solid;
}

.inpainting-workarea {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1rem;
}

.inpainting-display-area {
  display: grid;
  column-gap: 0.5rem;
}

.inpainting-display {
  border-radius: 0.5rem;
  background-color: var(--background-color-secondary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  // column-gap: 1rem;
  height: $app-content-height;
}

.inpainting-toolkit {
  // display: grid;
  // grid-template-rows: auto auto;
  display: flex;
  flex-direction: column;
  background-color: var(--inpaint-bg-color);
  border-radius: 0.5rem;
}

.inpainting-canvas-container {
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .inpainting-canvas-wrapper {
    position: relative;
    width: min-content;
    height: min-content;
    border-radius: 0.5rem;

    .inpainting-alerts {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      column-gap: 0.5rem;
      z-index: 2;
      padding: 0.5rem;
      pointer-events: none;
      font-size: 0.9rem;
      font-weight: bold;

      div {
        background-color: var(--accent-color);
        color: var(--text-color);
        padding: 0.2rem 0.6rem;
        border-radius: 0.25rem;
      }
    }

    .inpainting-canvas-stage {
      canvas {
        border-radius: 0.5rem;
      }
    }
  }
}

// .canvas-scale-calculator {
//   width: calc(100% - 1rem);
//   height: calc(100% - 1rem);
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.inpainting-canvas-scale-wrapper {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  // width: max-content;
  // height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inpainting-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  padding: 1rem;

  .inpainting-buttons {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;

    button {
      height: 2.4rem;
      svg {
        width: 15px;
        height: 15px;
      }
    }

    .inpainting-buttons-group {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
  }

  .inpainting-slider-numberinput {
    display: flex;
    column-gap: 1rem;
    align-items: center;
  }
}

// Overrides
.inpainting-workarea-container {
  .image-gallery-area {
    .chakra-popover__popper {
      inset: 0 auto auto -75px !important;
    }
  }

  .current-image-options {
    button {
      @include Button(
        $btn-width: 2.5rem,
        $icon-size: 18px,
        $btn-color: var(--btn-grey),
        $btn-color-hover: var(--btn-grey-hover)
      );
    }

    .chakra-popover__popper {
      z-index: 11;
    }
  }

  .current-image-preview {
    padding: 0 1rem 1rem 1rem;
  }
}
