@use '../../../styles/Mixins/' as *;

.inpainting-main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  height: 100%;

  .inpainting-settings {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    .inpainting-buttons-group {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    .inpainting-button-dropdown {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    .inpainting-color-picker {
      margin-left: 1rem !important;
    }

    .inpainting-slider-numberinput {
      display: flex;
      column-gap: 1rem;
      align-items: center;
    }
  }

  .inpainting-canvas-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
  }

  .inpainting-canvas-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;

    .inpainting-alerts {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      column-gap: 0.5rem;
      z-index: 2;
      padding: 0.5rem;
      pointer-events: none;
      font-size: 0.9rem;
      font-weight: bold;

      div {
        background-color: var(--accent-color);
        color: var(--text-color);
        padding: 0.2rem 0.6rem;
        border-radius: 0.25rem;
      }
    }

    .inpainting-canvas-stage {
      border-radius: 0.5rem;
      canvas {
        border-radius: 0.5rem;
      }
    }
  }
}

// Overrides
.inpainting-workarea-overrides {
  .image-gallery-wrapper {
    .chakra-popover__popper {
      inset: 0 auto auto -75px !important;
    }
  }
}
