# continuous integration
/.github/workflows/  @lstein @blessedcoolant  

# documentation - anyone with write privileges can review
/docs/
/mkdocs.yml

# nodes
/invokeai/app/ @blessedcoolant @lstein @dunkeroni @JPPhoto

# installation and configuration
/pyproject.toml  @lstein @blessedcoolant  
/docker/  @lstein @blessedcoolant
/scripts/  @lstein  @blessedcoolant  
/installer/ @lstein   @blessedcoolant  
/invokeai/assets @lstein   @blessedcoolant  
/invokeai/configs @lstein  @blessedcoolant  
/invokeai/version @lstein @blessedcoolant  

# web ui
/invokeai/frontend @blessedcoolant  @lstein  @dunkeroni  

# generation, model management, postprocessing
/invokeai/backend  @lstein @blessedcoolant @dunkeroni @JPPhoto  @Pfannkuchensack 

# front ends
/invokeai/frontend/CLI @lstein  
/invokeai/frontend/install @lstein   
/invokeai/frontend/merge @lstein @blessedcoolant  
/invokeai/frontend/training @lstein @blessedcoolant  
/invokeai/frontend/web  @blessedcoolant  @lstein @dunkeroni @Pfannkuchensack 

