[data-theme='light'] {
  // General Colors
  --white: rgb(255, 255, 255);

  // Accent Colors
  --accent-color-dim: rgb(186, 146, 0);
  --accent-color: rgb(235, 185, 5);
  --accent-color-bright: rgb(255, 200, 0);
  --accent-color-hover: var(--accent-color-bright);

  // App Colors
  --root-bg-color: rgb(255, 255, 255);
  --background-color: rgb(220, 222, 224);
  --background-color-light: rgb(250, 252, 254);
  --background-color-secondary: rgb(208, 210, 212);

  --text-color: rgb(0, 0, 0);
  --text-color-secondary: rgb(40, 40, 40);
  --subtext-color: rgb(24, 24, 34);
  --subtext-color-bright: rgb(142, 144, 146);

  --border-color: rgb(200, 200, 200);
  --border-color-light: rgb(147, 147, 147);

  --svg-color: rgb(50, 50, 50);

  --invalid: rgb(255, 75, 75);
  --invalid-secondary: rgb(120, 5, 5);

  --destructive-color: rgb(237, 51, 51);
  --destructive-color-hover: rgb(255, 55, 55);

  --warning-color: rgb(224, 142, 42);
  --warning-color-hover: rgb(255, 167, 60);

  // Error status colors
  --border-color-invalid: rgb(255, 80, 50);
  --box-shadow-color-invalid: none;

  // Tabs
  --tab-color: rgb(202, 204, 206);
  --tab-hover-color: rgb(196, 198, 200);
  --tab-panel-bg: rgb(206, 208, 210);
  --tab-list-bg: rgb(235, 185, 5);
  --tab-list-text: rgb(0, 0, 0);
  --tab-list-text-inactive: rgb(106, 108, 110);

  // Button Colors
  --btn-base-color: rgb(184, 186, 188);
  --btn-base-color-hover: rgb(230, 232, 234);

  --btn-load-more: rgb(202, 204, 206);
  --btn-load-more-hover: rgb(178, 180, 182);
  --btn-svg-color: rgb(0, 0, 0);

  --btn-delete-image: rgb(213, 49, 49);

  // IAI Button Colors
  --btn-checkbox-border-hover: rgb(176, 178, 182);
  // Progress Bar Color
  --progress-bar-color: rgb(235, 185, 5);

  // Prompt Box Colors
  --prompt-bg-color: rgb(225, 227, 229);
  // Switch
  --switch-bg-color: rgb(178, 180, 182);
  --switch-bg-active-color: rgb(235, 185, 5);

  // Slider
  --slider-color: var(--accent-color);
  --slider-mark-color: rgb(0, 0, 0);

  // Resizable
  --resizeable-handle-border-color: rgb(160, 162, 164);

  // Metadata Viewer
  --metadata-bg-color: rgba(230, 230, 230, 0.9);
  --metadata-json-bg-color: rgba(0, 0, 0, 0.1);

  // Status Message
  --status-good-color: rgb(21, 126, 0);
  --status-good-glow: var(--background-color);
  --status-working-color: rgb(235, 141, 0);
  --status-working-glow: var(--background-color);
  --status-bad-color: rgb(202, 0, 0);
  --status-bad-glow: var(--background-color);
  --notice-color: rgb(255, 71, 90);

  // Settings Modal
  --settings-modal-bg: rgb(202, 204, 206);

  // Input
  --input-checkbox-bg: rgb(167, 167, 171);
  --input-checkbox-checked-bg: rgb(235, 185, 5);
  --input-checkbox-checked-tick: rgb(0, 0, 0);
  --input-border-color: rgb(0, 0, 0);
  --input-box-shadow-color: none;

  // Console
  --error-level-info: rgb(42, 42, 42);
  --error-level-warning: rgb(173, 121, 0);
  --error-level-error: rgb(145, 14, 0);
  --console-bg-color: rgb(220, 224, 230);
  --console-icon-button-bg-color: var(--switch-bg-color);
  --console-icon-button-bg-color-hover: var(--resizeable-handle-border-color);

  // Img2Img
  --img2img-img-bg-color: rgb(180, 182, 184);

  // Gallery

  // Context Menus
  --context-menu-bg-color: var(--background-color);
  --context-menu-box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  --context-menu-bg-color-hover: var(--background-color-secondary);

  // Shadows
  --floating-button-drop-shadow-color: rgba(0, 0, 0, 0.7);

  // Canvas
  --inpainting-alerts-bg: rgba(220, 222, 224, 0.75);
  --inpainting-alerts-icon-color: rgb(0, 0, 0);
  --inpainting-alerts-bg-active: rgb(255, 200, 0);
  --inpainting-alerts-icon-active: rgb(0, 0, 0);
  --inpainting-alerts-bg-alert: var(--invalid);
  --inpainting-alerts-icon-alert: rgb(0, 0, 0);

  // Checkerboard
  --checkboard-dots-color: rgb(160, 160, 172);

  // Scrollbar
  --scrollbar-color: rgb(180, 180, 184);
  --scrollbar-color-hover: rgb(150, 150, 154);
}
