.App {
  display: grid;
}

.app-content {
  display: grid;
  row-gap: 1rem;
  margin: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
  grid-auto-rows: max-content;
  width: calc(100vw - 1.6rem);
  height: calc(100vh - 1.6rem);
}
