@use '../styles/Mixins/' as *;

.App {
  display: grid;
}

.app-content {
  display: grid;
  row-gap: 1rem;
  margin: 0.6rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
}

.app-content-prompt {
  display: grid;
  grid-template-columns: auto max-content;
  column-gap: 1rem;
}

.app-options {
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: max-content;
  max-height: 60rem;
  overflow: scroll;
  @include HideScrollbar;
}

.app-content-workarea {
  display: grid;
  grid-template-columns: max-content auto max-content;
  column-gap: 1rem;
}
