# use this file as a whitelist
*
!invokeai
!ldm
!pyproject.toml

# Guard against pulling in any models that might exist in the directory tree
**/*.pt*
**/*.ckpt

# ignore frontend but whitelist dist
invokeai/frontend/
!invokeai/frontend/dist/

# ignore invokeai/assets but whitelist invokeai/assets/web
invokeai/assets/
!invokeai/assets/web/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Distribution / packaging
*.egg-info/
*.egg
