# use this file as a whitelist
*
!backend
!invokeai
!ldm
!pyproject.toml
!README.md
!scripts

# Guard against pulling in any models that might exist in the directory tree
**/*.pt*
**/*.ckpt

# whitelist frontend, but ignore node_modules
invokeai/frontend/node_modules

# ignore python cache
**/__pycache__
**/*.py[cod]
**/*.egg-info
