*
!assets/caution.png
!backend
!configs
!environments-and-requirements
!frontend
!ldm
!main.py
!pyproject.toml
!README.md
!scripts
!server
!static
!setup.py
!vendored

# Guard against pulling in any models that might exist in the directory tree
**/*.pt*

# unignore configs, but only ignore the custom models.yaml, in case it exists
!configs
configs/models.yaml

**/__pycache__
