root = true

# All files
[*]
max_line_length = 80
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Python
[*.py]
indent_size = 4
max_line_length = 120

# css
[*.css]
indent_size = 4

# flake8
[.flake8]
indent_size = 4

# Markdown MkDocs
[docs/**/*.md]
max_line_length = 80
indent_size = 4
indent_style = unset
