# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

# General
site_name: Invoke
site_url: https://invoke-ai.github.io/InvokeAI
site_author: mauwii
dev_addr: '127.0.0.1:8080'

# Repository
repo_name: 'invoke-ai/InvokeAI'
repo_url: 'https://github.com/invoke-ai/InvokeAI'
edit_uri: edit/main/docs/

# Copyright
copyright: Copyright &copy; 2022-2024 InvokeAI Team

# Configuration
theme:
  name: material
  logo: img/invoke-symbol-wht-lrg.svg
  icon:
    repo: fontawesome/brands/github
    edit: material/file-document-edit-outline
  favicon: img/favicon.ico
  palette:
    scheme: slate
    primary: black
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.indexes
    - navigation.path
    - search.highlight
    - search.suggest
    - toc.integrate

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: '#'
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: 'invoke-ai'
      repo: 'InvokeAI'
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - tables

plugins:
  - search
  - git-revision-date-localized:
      enable_creation_date: true
  - redirects:
      redirect_maps:
        'installation/INSTALL_AUTOMATED.md': 'installation/installer.md'
        'installation/INSTALL_MANUAL.md': 'installation/manual.md'
        'installation/INSTALL_SOURCE.md': 'installation/manual.md'
        'installation/INSTALL_DOCKER.md': 'installation/docker.md'
        'installation/INSTALLING_MODELS.md': 'installation/models.md'
        'installation/INSTALL_PATCHMATCH.md': 'installation/patchmatch.md'
  - mkdocstrings:
      handlers:
        python:
          options:
            separate_signature: true
            show_signature_annotations: true
            parameter_headings: false
            signature_crossrefs: true
            show_source: false
            summary: true
            show_root_heading: true
            show_root_full_path: false
            show_bases: false

extra:
  analytics:
    provider: google
    property: G-2X4JR4S4FB

nav:
  - Home: 'index.md'
  - Installation:
      - Overview: 'installation/index.md'
      - Requirements: 'installation/requirements.md'
      - Installer: 'installation/installer.md'
      - Manual Install: 'installation/manual.md'
      - Docker: 'installation/docker.md'
      - PatchMatch: 'installation/patchmatch.md'
      - Models: 'installation/models.md'
  - Workflows & Nodes:
      - Nodes Overview: 'nodes/overview.md'
      - Workflow Editor Basics: 'nodes/NODES.md'
      - List of Default Nodes: 'nodes/defaultNodes.md'
      - Community Nodes: 'nodes/communityNodes.md'
      - ComfyUI to InvokeAI: 'nodes/comfyToInvoke.md'
      - Facetool Node: 'nodes/detailedNodes/faceTools.md'
      - Contributing Nodes: 'nodes/contributingNodes.md'
      - Migrating from v3 to v4: 'nodes/NODES_MIGRATION_V3_V4.md'
      - Invocation API: 'nodes/invocation-api.md'
  - Configuration: 'configuration.md'
  - Features:
      - Database: 'features/database.md'
      - New to InvokeAI?: 'help/gettingStartedWithAI.md'
  - Contributing:
      - Overview: 'contributing/index.md'
      - Code of Conduct: 'CODE_OF_CONDUCT.md'
      - Dev Environment: 'contributing/dev-environment.md'
      - Development:
          - Overview: 'contributing/contribution_guides/development.md'
          - New Contributors: 'contributing/contribution_guides/newContributorChecklist.md'
          - Model Manager v2: 'contributing/MODEL_MANAGER.md'
          - Local Development: 'contributing/LOCAL_DEVELOPMENT.md'
          - Testing: 'contributing/TESTS.md'
      - Frontend:
          - Overview: 'contributing/frontend/index.md'
          - State Management: 'contributing/frontend/state-management.md'
          - Workflows - Design and Implementation: 'contributing/frontend/workflows.md'
      - Documentation: 'contributing/contribution_guides/documentation.md'
      - Nodes: 'contributing/INVOCATIONS.md'
      - Model Manager: 'contributing/MODEL_MANAGER.md'
      - Download Queue: 'contributing/DOWNLOAD_QUEUE.md'
      - Translation: 'contributing/contribution_guides/translation.md'
      - Tutorials: 'contributing/contribution_guides/tutorials.md'
  - Help:
      - Getting Started: 'help/gettingStartedWithAI.md'
      - Diffusion Overview: 'help/diffusion.md'
      - Sampler Convergence: 'help/SAMPLER_CONVERGENCE.md'
  - FAQ: 'faq.md'
