@use '../../../../styles/Mixins/' as *;

.hotkeys-modal {
  width: 36rem;
  max-width: 36rem;
  display: grid;
  padding: 1rem;
  row-gap: 1rem;
  font-family: Inter;

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
  }
}

.hotkeys-modal-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotkeys-modal-items {
  max-height: 36rem;
  overflow-y: scroll;
  @include HideScrollbar;

  .chakra-accordion {
    display: grid;
    row-gap: 0.5rem;
  }

  .chakra-accordion__item {
    border: none;
    border-radius: 0.3rem;
    background-color: var(--tab-hover-color);
  }

  button {
    border-radius: 0.3rem;

    &[aria-expanded='true'] {
      background-color: var(--tab-hover-color);
      border-radius: 0.3rem;
    }
  }
}

.hotkey-modal-category {
  display: grid;
  row-gap: 0.5rem;
}

.hotkey-modal-item {
  display: grid;
  grid-template-columns: auto max-content;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  .hotkey-info {
    display: grid;

    .hotkey-title {
      font-weight: bold;
    }

    .hotkey-description {
      font-size: 0.9rem;
      color: var(--text-color-secondary);
    }
  }

  .hotkey-key {
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--background-color-light);
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
  }
}
