@use '../../styles/Mixins/' as *;

.invokeai__icon-button {
  background: var(--btn-base-color);
  cursor: pointer;

  &:hover {
    background-color: var(--btn-base-color-hover);
  }

  &[data-selected='true'] {
    background-color: var(--accent-color);
    &:hover {
      background-color: var(--accent-color-hover);
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[data-variant='link'] {
    background: none;
    &:hover {
      background: none;
    }
  }

  // Check Box Style
  &[data-as-checkbox='true'] {
    background-color: var(--btn-base-color);
    border: 3px solid var(--btn-base-color);

    svg {
      fill: var(--text-color);
    }

    &:hover {
      background-color: var(--btn-base-color);
      border-color: var(--btn-checkbox-border-hover);
      svg {
        fill: var(--text-color);
      }
    }

    &[data-selected='true'] {
      border-color: var(--accent-color);
      svg {
        fill: var(--accent-color-hover);
      }
      &:hover {
        svg {
          fill: var(--accent-color-hover);
        }
      }
    }
  }

  &[data-alert='true'] {
    animation-name: pulseColor;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    &:hover {
      animation: none;
      background-color: var(--accent-color-hover);
    }
  }
}

@keyframes pulseColor {
  0% {
    background-color: var(--accent-color);
  }
  50% {
    background-color: var(--accent-color-dim);
  }
  100% {
    background-color: var(--accent-color);
  }
}
