.invokeai__slider-component {
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;

  .invokeai__slider-component-label {
    min-width: max-content;
    margin: 0;
    font-weight: bold;
    color: var(--text-color-secondary);
  }

  .invokeai__slider_track {
    background-color: var(--tab-color);
  }

  .invokeai__slider_track-filled {
    background-color: var(--slider-color);
  }

  .invokeai__slider-thumb {
    width: 4px;
  }

  .invokeai__slider-mark {
    font-size: 0.75rem;
    font-weight: bold;
    color: var(--slider-mark-color);
    margin-top: 0.3rem;
  }

  .invokeai__slider-number-input {
    border: none;
    font-size: 0.9rem;
    font-weight: bold;
    height: 2rem;
    background-color: var(--background-color-secondary);
    border: 2px solid var(--border-color);

    &:focus {
      outline: none;
      box-shadow: none;
      border: 2px solid var(--input-border-color);
      box-shadow: 0 0 10px 0 var(--input-box-shadow-color);
    }

    &:disabled {
      opacity: 0.2;
    }
  }

  .invokeai__slider-number-stepper {
    border: none;
  }

  &[data-markers='true'] {
    .invokeai__slider_container {
      margin-top: -1rem;
    }
  }
}
