# This file describes the alternative machine learning models
# available to InvokeAI script.
#
# To add a new model, follow the examples below. Each
# model requires a model config file, a weights file,
# and the width and height of the images it
# was trained on.
diffusers-1.4:
  description: 🤗🧨 Stable Diffusion v1.4
  format: diffusers
  repo_id: CompVis/stable-diffusion-v1-4
diffusers-1.5:
  description: 🤗🧨 Stable Diffusion v1.5
  format: diffusers
  repo_id: runwayml/stable-diffusion-v1-5
  default: true
diffusers-1.5+mse:
  description: 🤗🧨 Stable Diffusion v1.5 + MSE-finetuned VAE
  format: diffusers
  repo_id: runwayml/stable-diffusion-v1-5
  vae:
    repo_id: stabilityai/sd-vae-ft-mse
diffusers-inpainting-1.5:
  description: 🤗🧨 inpainting for Stable Diffusion v1.5
  format: diffusers
  repo_id: runwayml/stable-diffusion-inpainting
stable-diffusion-1.5:
  description: The newest Stable Diffusion version 1.5 weight file (4.27 GB)
  weights: models/ldm/stable-diffusion-v1/v1-5-pruned-emaonly.ckpt
  config: configs/stable-diffusion/v1-inference.yaml
  width: 512
  height: 512
  vae: ./models/ldm/stable-diffusion-v1/vae-ft-mse-840000-ema-pruned.ckpt
stable-diffusion-1.4:
  description: Stable Diffusion inference model version 1.4
  config: configs/stable-diffusion/v1-inference.yaml
  weights: models/ldm/stable-diffusion-v1/sd-v1-4.ckpt
  vae: models/ldm/stable-diffusion-v1/vae-ft-mse-840000-ema-pruned.ckpt
  width: 512
  height: 512
inpainting-1.5:
  weights: models/ldm/stable-diffusion-v1/sd-v1-5-inpainting.ckpt
  config: configs/stable-diffusion/v1-inpainting-inference.yaml
  vae: models/ldm/stable-diffusion-v1/vae-ft-mse-840000-ema-pruned.ckpt
  description: RunwayML SD 1.5 model optimized for inpainting
  width: 512
  height: 512
