@use '../../../styles/Mixins/' as *;

.text-to-image-area {
  padding: 1rem;
}

.text-to-image-panel {
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: max-content;
  height: $app-content-height;
  overflow-y: scroll;
  @include HideScrollbar;
}
