## Make a copy of this file named `.env` and fill in the values below.
## Any environment variables supported by InvokeAI can be specified here,
## in addition to the examples below.

# LOCAL_DATA_PATH is the path to a path on the local filesystem where InvokeAI will store data.
# Outputs will also be stored here by default.
# If relative, it will be relative to the docker directory in which the docker-compose.yml file is located
LOCAL_DATA_PATH=../../invokeai-data

# Get this value from your HuggingFace account settings page.
# HUGGING_FACE_HUB_TOKEN=

## optional variables specific to the docker setup.
# GPU_DRIVER=nvidia #| rocm
# CONTAINER_UID=1000
