@use '../../styles/Mixins/' as *;

.current-image-display,
.current-image-display-placeholder {
  display: grid;
  grid-template-areas: 'current-image';
  justify-items: center;
  background-color: var(--background-color-secondary);
  border-radius: 0.5rem;
  height: $app-content-height;
}

.current-image-display-placeholder {
  align-items: center;

  svg {
    width: 10rem;
    height: 10rem;
    color: var(--svg-color);
  }
}

.current-image-tools {
  grid-area: current-image;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.current-image-options {
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
  height: fit-content;
  gap: 0.5rem;

  button {
    @include Button(
      $btn-width: 3rem,
      $icon-size: 22px,
      $btn-color: var(--btn-grey),
      $btn-color-hover: var(--btn-grey-hover)
    );
  }
}

.current-image-preview {
  grid-area: current-image;
  align-self: center;
  padding: 4.5rem 0 1rem 0;

  img {
    border-radius: 0.5rem;
    object-fit: contain;
    width: auto;
    max-height: $app-gallery-height;
    z-index: 2;
  }
}

.current-image-metadata-viewer {
  grid-area: current-image;
  position: relative;
  margin-top: 4.5rem;
  border-radius: 0.5rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  height: $app-metadata-height;
  z-index: 1;
  overflow: scroll;
  @include HideScrollbar;
}
