.current-image-options {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5em;

  .current-image-send-to-popover,
  .current-image-postprocessing-popover {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    max-width: 25rem;
  }

  .chakra-popover__popper {
    z-index: 11;
  }

  .delete-image-btn {
    svg {
      fill: var(--btn-delete-image);
    }
  }
}
