.hoverable-image {
  display: flex;
  justify-content: center;
  transition: transform 0.2s ease-out;

  &:hover {
    cursor: pointer;
    border-radius: 0.5rem;
    z-index: 2;
  }

  .hoverable-image-image {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .hoverable-image-delete-button {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
  }

  .hoverable-image-content {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    .hoverable-image-check {
      fill: var(--status-good-color);
    }
  }

  .hoverable-image-icons {
    position: absolute;
    bottom: -2rem;
    display: grid;
    width: min-content;
    grid-template-columns: repeat(2, max-content);
    border-radius: 0.4rem;
    background-color: var(--background-color-secondary);
    padding: 0.2rem;
    gap: 0.2rem;
    grid-auto-rows: max-content;

    button {
      width: 12px;
      height: 12px;
      border-radius: 0.2rem;
      padding: 10px 0;
      flex-shrink: 2;
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
}

.hoverable-image-context-menu {
  z-index: 15;
  padding: 0.4rem;
  border-radius: 0.25rem;
  background-color: var(--context-menu-bg-color);
  box-shadow: var(--context-menu-box-shadow);

  [role='menuitem'] {
    font-size: 0.8rem;
    line-height: 1rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 1.75rem;
    padding: 0 0.5rem;
    position: relative;
    user-select: none;
    cursor: pointer;
    outline: none;

    &[data-disabled] {
      color: grey;
      pointer-events: none;
      cursor: not-allowed;
    }

    &[data-warning] {
      color: var(--status-bad-color);
    }

    &[data-highlighted] {
      background-color: var(--context-menu-bg-color-hover);
    }
  }
}
