.popover-content {
  background-color: var(--background-color-secondary) !important;
}

.popover-arrow {
  background: var(--background-color-secondary) !important;
}

.popover-options {
  padding: 1rem;
}

.popover-header {
  font-weight: bold;
}
