@use '../../styles/Mixins/' as *;

.show-hide-gallery-button {
  position: absolute !important;
  top: 50%;
  right: -1rem;
  transform: translate(0, -50%);
  z-index: 10;

  border-radius: 0.5rem 0 0 0.5rem !important;
  padding: 0 0.5rem;

  @include Button(
    $btn-width: 1rem,
    $btn-height: 12rem,
    $icon-size: 20px,
    $btn-color: var(--btn-grey),
    $btn-color-hover: var(--btn-grey-hover)
  );
}
