@use '../../styles/Mixins/' as *;

.invokeai__icon-button {
  background-color: var(--btn-grey);
  cursor: pointer;

  &:hover {
    background-color: var(--btn-grey-hover);
  }

  &[data-selected='true'] {
    background-color: var(--accent-color);
    &:hover {
      background-color: var(--accent-color-hover);
    }
  }

  &[disabled] {
    cursor: not-allowed;
  }

  &[data-variant='link'] {
    background: none !important;
  }

  &[data-as-checkbox='true'] {
    border: 2px solid var(--switch-bg-color);
    background: none !important;
    svg {
      fill: var(--input-checkbox-bg);
    }
    &:hover {
      svg {
        fill: var(--text-color-secondary);
      }
      border-color: var(--accent-color);
    }

    &[data-selected='true'] {
      border-color: var(--accent-color);
      &:hover {
        border-color: var(--accent-color-hover);
      }
    }
  }
}
