.invokeai__popover-content {
  min-width: unset;
  width: unset;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--background-color);
  border: 2px solid var(--border-color);

  .invokeai__popover-arrow {
    background-color: var(--background-color) !important;
  }
}
