@use '../../styles/Mixins/' as *;

.invokeai__slider-form-control {
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  padding-right: 0.25rem;

  .invokeai__slider-inner-container {
    display: flex;
    column-gap: 0.5rem;

    .invokeai__slider-form-label {
      color: var(--text-color-secondary);
      margin: 0;
      margin-right: 0.5rem;
      margin-bottom: 0.1rem;
    }

    .invokeai__slider-root {
      .invokeai__slider-filled-track {
        background-color: var(--accent-color-hover);
      }

      .invokeai__slider-track {
        background-color: var(--text-color-secondary);
        height: 5px;
        border-radius: 9999px;
      }

      .invokeai__slider-thumb {
      }
    }
  }
}

.invokeai__slider-thumb-tooltip {
}
