.image-upload-zone {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--subtext-color-bright);

  &:hover {
    background-color: var(--inpaint-bg-color);
  }
}

.image-upload-child-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-child {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
}
