@use '../../../styles/Mixins/' as *;

.outpainting-workarea {
  display: grid;
  grid-template-columns: max-content auto;
  column-gap: 1rem;
}

.outpainting-panel {
  display: grid;
  row-gap: 1rem;
  grid-auto-rows: max-content;
  height: $app-content-height;
  overflow-y: scroll;
  @include HideScrollbar;
}

.outpainting-display {
  display: grid;
  grid-template-areas: 'outpainting-display';
  column-gap: 0.5rem;

  .outpainting-image-display,
  .outpainting-image-display-placeholder {
    grid-area: outpainting-display;
    height: $app-content-height;
  }

  .image-gallery-area {
    height: 100%;
    z-index: 2;
    place-self: end;
  }
}