@use '../../styles/Mixins/' as *;

.options-panel-wrapper-enter {
  transform: translateX(-150%);
}

.options-panel-wrapper-enter-active {
  transform: translateX(0);
  transition: all 120ms ease-out;
}

.options-panel-wrapper-exit {
  transform: translateX(0);
}

.options-panel-wrapper-exit-active {
  transform: translateX(-150%);
  transition: all 120ms ease-out;
}

.options-panel-wrapper {
  background-color: var(--background-color);
  grid-auto-rows: max-content;
  height: $app-content-height;
  width: $options-bar-max-width;
  max-width: $options-bar-max-width;
  flex-shrink: 0;
  position: relative;

  .options-panel {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: 100%;
    overflow-y: scroll;
    @include HideScrollbar;
  }

  &[data-pinned='false'] {
    z-index: 20;

    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 1rem var(--text-color-a3);
    width: calc($options-bar-max-width + 2rem);
    max-width: calc($options-bar-max-width + 2rem);
    height: 100%;

    .options-panel {
      padding: 1rem;
    }
  }

  .options-panel-pin-button {
    position: absolute;
    cursor: pointer;
    padding: 0.5rem;
    top: 1rem;
    right: 1rem;
    z-index: 25;

    &[data-selected='true'] {
      top: 0;
      right: 0;
    }
    svg {
      opacity: 0.5;
    }
  }
}
