.app-tabs {
  display: grid;
  row-gap: 1rem;
}

.app-tabs-list {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  color: var(--tab-list-text-inactive);

  button {
    &[aria-selected='true'] {
      background-color: var(--tab-list-bg);
      color: var(--tab-list-text);
      font-weight: bold;
      border-radius: 0.3rem;
      border: none;
    }
  }

  button {
    font-size: 0.85rem;
  }
}
