.invokeai__slider-root {
  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 200px;

  &[data-orientation='horizontal'] {
    height: 20px;
  }

  &[data-orientation='vertical'] {
    width: 20px;
    height: 200px;
  }

  .invokeai__slider-track {
    background-color: black;
    position: relative;
    flex-grow: 1;
    border-radius: 9999px;

    &[data-orientation='horizontal'] {
      height: 0.25rem;
    }

    &[data-orientation='vertical'] {
      width: 0.25rem;
    }

    .invokeai__slider-range {
      position: absolute;
      background-color: white;
      border-radius: 9999px;
      height: 100%;
    }
  }

  .invokeai__slider-thumb {
    display: flex;
    align-items: center;

    .invokeai__slider-thumb-div {
      all: unset;
      display: block;
      width: 1rem;
      height: 1rem;
      background-color: white;
      box-shadow: 0 2px 10px rgba(0, 2, 10, 0.3);
      border-radius: 100%;

      &:hover {
        background-color: violet;
      }

      &:focus {
        box-shadow: 0 0 0 5px rgba(0, 2, 10, 0.3);
      }
    }
  }
}
