// General Imports
@use 'Fonts';
@use 'Animations';
@use 'Misc';

// Themes
@use './Themes/Colors_Dark';
@use './Themes/Colors_Light';
@use './Themes/Colors_Green';

// Component Styles
//app
@use '../app/App.scss';

//system
@use '../features/system/components/SiteHeader.scss';
@use '../features/system/components/StatusIndicator.scss';
@use '../features/system/components/SettingsModal/SettingsModal.scss';
@use '../features/system/components/ModelManager/AddModel.scss';
@use '../features/system/components/HotkeysModal/HotkeysModal.scss';
@use '../features/system/components/Console.scss';

// options
@use '../features/options/components/PromptInput/PromptInput.scss';
@use '../features/options/components/ProcessButtons/ProcessButtons.scss';
@use '../features/options/components/MainOptions/MainOptions.scss';
@use '../features/options/components/AccordionItems/AdvancedSettings.scss';
@use '../features/options/components/AdvancedOptions/Upscale/UpscaleOptions.scss';
@use '../features/options/components/AdvancedOptions/Canvas/BoundingBoxSettings/BoundingBoxSettings.scss';
@use '../features/system/components/ProgressBar.scss';

// gallery
@use '../features/gallery/components/CurrentImageDisplay.scss';
@use '../features/gallery/components/CurrentImageButtons.scss';
@use '../features/gallery/components/ImageGallery.scss';
@use '../features/gallery/components/HoverableImage.scss';
@use '../features/gallery/components/ImageMetaDataViewer/ImageMetadataViewer.scss';

// Lightbox
@use '../features/lightbox/components/Lightbox.scss';

// Tabs
@use '../features/tabs/components/InvokeTabs.scss';
@use '../features/tabs/components/InvokeWorkarea.scss';
@use '../features/tabs/components/InvokeOptionsPanel.scss';
@use '../features/tabs/components/TextToImage/TextToImage.scss';
@use '../features/tabs/components/ImageToImage/ImageToImage.scss';
@use '../features/tabs/components/FloatingButton.scss';
@use '../features/tabs/components/UnifiedCanvas/CanvasWorkarea.scss';

// Component Shared
@use '../common/components/IAINumberInput.scss';
@use '../common/components/IAIInput.scss';
@use '../common/components/IAIIconButton.scss';
@use '../common/components/IAIButton.scss';
@use '../common/components/IAISwitch.scss';
@use '../common/components/IAISelect.scss';
@use '../common/components/IAISlider.scss';
@use '../common/components/IAICheckbox.scss';
@use '../common/components/IAIPopover.scss';
@use '../common/components/IAIColorPicker.scss';
@use '../common/components/ImageUploader.scss';
@use '../common/components/WorkInProgress/WorkInProgress.scss';
@use '../common/components/GuidePopover.scss';

// Component Shared - Radix UI
// @use 'common/components/radix-ui/IAISlider.scss';
// @use 'common/components/radix-ui/IAITooltip.scss';

// Shared Styles
@use './Mixins/' as *;
@use '../features/system/components/Modal.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  @include HideScrollbar;
  background-color: var(--root-bg-color);
  overflow: hidden;
}

#root {
  background-color: var(--root-bg-color);
  color: var(--text-color);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}
