# Get hardware-appropriate torch/torchvision
--extra-index-url https://download.pytorch.org/whl/rocm5.2
--trusted-host https://download.pytorch.org

# Install base requirements
-r environments-and-requirements/requirements-base.txt
-e .
