.ltr-image-gallery-css-transition-enter {
  transform: translateX(150%);
}

.ltr-image-gallery-css-transition-enter-active {
  transform: translateX(0);
  transition: all 120ms ease-out;
}

.ltr-image-gallery-css-transition-exit {
  transform: translateX(0);
}

.ltr-image-gallery-css-transition-exit-active {
  transform: translateX(150%);
  transition: all 120ms ease-out;
}

.rtl-image-gallery-css-transition-enter {
  transform: translateX(-150%);
}

.rtl-image-gallery-css-transition-enter-active {
  transform: translateX(0);
  transition: all 120ms ease-out;
}

.rtl-image-gallery-css-transition-exit {
  transform: translateX(0);
}

.rtl-image-gallery-css-transition-exit-active {
  transform: translateX(-150%);
  transition: all 120ms ease-out;
}
