@use '../../../../styles/Mixins/' as *;

.inpainting-main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  width: 100%;
  height: 100%;

  .inpainting-settings {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;

    svg {
      transform: scale(0.9);
    }

    .inpainting-buttons-group {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }

    .inpainting-button-dropdown {
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;
    }

    .inpainting-color-picker {
      margin-left: 1rem;
    }

    .inpainting-brush-options {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }
  }

  .inpainting-canvas-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
  }

  .inpainting-canvas-spiner {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .inpainting-canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;

    .inpainting-canvas-wrapper {
      position: relative;
    }

    .inpainting-canvas-stage {
      outline: none;
      border-radius: 0.5rem;
      box-shadow: 0px 0px 0px 1px var(--border-color-light);
      overflow: hidden;

      canvas {
        outline: none;
        border-radius: 0.5rem;
      }
    }
  }
}

.inpainting-options-btn {
  min-height: 2rem;
}

.canvas-status-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: 0.65;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 0.25rem;
  min-width: 12rem;
  border-radius: 0.25rem;
  margin: 0.25rem;
  pointer-events: none;
}
