name: Test invoke.py pip
on:
  push:
    branches:
      - 'main'
  pull_request:
    types:
      - 'ready_for_review'
      - 'opened'
      - 'synchronize'
      - 'converted_to_draft'

concurrency:
   group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
   cancel-in-progress: true

jobs:
  # fail_if_pull_request_is_draft:
  #   if: github.event.pull_request.draft == true && github.head_ref != 'dev/diffusers'
  #   runs-on: ubuntu-18.04
  #   steps:
  #   - name: Fails in order to indicate that pull request needs to be marked as ready to review and unit tests workflow needs to pass.
  #     run: exit 1
  matrix:
    if: github.event.pull_request.draft == false ||  github.head_ref == 'dev/diffusers'
    strategy:
      matrix:
        stable-diffusion-model:
          - stable-diffusion-1.5
        requirements-file:
          - requirements-lin-cuda.txt
          - requirements-lin-amd.txt
          - requirements-mac-mps-cpu.txt
          - requirements-win-colab-cuda.txt
        python-version:
          # - '3.9'
          - '3.10'
        include:
          - requirements-file: requirements-lin-cuda.txt
            os: ubuntu-22.04
            github-env: $GITHUB_ENV
          - requirements-file: requirements-lin-amd.txt
            os: ubuntu-22.04
            github-env: $GITHUB_ENV
          - requirements-file: requirements-mac-mps-cpu.txt
            os: macOS-12
            github-env: $GITHUB_ENV
          - requirements-file: requirements-win-colab-cuda.txt
            os: windows-2022
            github-env: $env:GITHUB_ENV
    name: ${{ matrix.requirements-file }} on ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    env:
      INVOKE_MODEL_RECONFIGURE: '--yes'
      INVOKEAI_ROOT: '${{ github.workspace }}/invokeai'
      PYTHONUNBUFFERED: 1
      HAVE_SECRETS: ${{ secrets.HUGGINGFACE_TOKEN != '' }}
    steps:
      - name: Checkout sources
        id: checkout-sources
        uses: actions/checkout@v3

      - name: set INVOKEAI_ROOT Windows
        if: matrix.os == 'windows-2022'
        run: |
          echo "INVOKEAI_ROOT=${{ github.workspace }}\invokeai" >> ${{ matrix.github-env }}
          echo "INVOKEAI_OUTDIR=${{ github.workspace }}\invokeai\outputs" >> ${{ matrix.github-env }}

      - name: set INVOKEAI_ROOT others
        if: matrix.os != 'windows-2022'
        run: |
          echo "INVOKEAI_ROOT=${{ github.workspace }}/invokeai" >> ${{ matrix.github-env }}
          echo "INVOKEAI_OUTDIR=${{ github.workspace }}/invokeai/outputs" >> ${{ matrix.github-env }}

      - name: Use Cached diffusers-1.5
        id: cache-sd-model
        uses: actions/cache@v3
        env:
          cache-name: huggingface-${{ matrix.stable-diffusion-model }}
        with:
          path: |
            ${{ env.INVOKEAI_ROOT }}/models/runwayml
            ${{ env.INVOKEAI_ROOT }}/models/stabilityai
            ${{ env.INVOKEAI_ROOT }}/models/CompVis
          key: ${{ env.cache-name }}

      - name: set test prompt to main branch validation
        if: ${{ github.ref == 'refs/heads/main' }}
        run: echo "TEST_PROMPTS=tests/preflight_prompts.txt" >> ${{ matrix.github-env }}

      - name: set test prompt to development branch validation
        if: ${{ github.ref == 'refs/heads/development' }}
        run: echo "TEST_PROMPTS=tests/dev_prompts.txt" >> ${{ matrix.github-env }}

      - name: set test prompt to Pull Request validation
        if: ${{ github.ref != 'refs/heads/main' && github.ref != 'refs/heads/development' }}
        run: echo "TEST_PROMPTS=tests/validate_pr_prompt.txt" >> ${{ matrix.github-env }}

      - name: create requirements.txt
        run: cp 'environments-and-requirements/${{ matrix.requirements-file }}' '${{ matrix.requirements-file }}'

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          # cache: 'pip'
          # cache-dependency-path: ${{ matrix.requirements-file }}

      - name: install dependencies
        run: pip3 install --upgrade pip setuptools wheel

      - name: install requirements
        run: pip3 install -r '${{ matrix.requirements-file }}'

      - name: run configure_invokeai.py
        id: run-preload-models
        env:
          HUGGING_FACE_HUB_TOKEN: ${{ secrets.HUGGINGFACE_TOKEN }}
        run: >
          configure_invokeai.py
          --yes
          --full-precision  # can't use fp16 weights without a GPU

      - name: Run the tests
        id: run-tests
        if: matrix.os != 'windows-2022'
        env:
          # Set offline mode to make sure configure preloaded successfully.
          HF_HUB_OFFLINE: 1
          HF_DATASETS_OFFLINE: 1
          TRANSFORMERS_OFFLINE: 1
        run: >
          python3 scripts/invoke.py
          --no-patchmatch
          --no-nsfw_checker
          --model ${{ matrix.stable-diffusion-model }}
          --from_file ${{ env.TEST_PROMPTS }}
          --root="${{ env.INVOKEAI_ROOT }}"
          --outdir="${{ env.INVOKEAI_OUTDIR }}"

      - name: Archive results
        id: archive-results
        if: matrix.os != 'windows-2022'
        uses: actions/upload-artifact@v3
        with:
          name: results_${{ matrix.requirements-file }}_${{ matrix.python-version }}
          path: ${{ env.INVOKEAI_ROOT }}/outputs
