@mixin Button(
  $btn-color: rgb(45, 49, 53),
  $btn-color-hover: rgb(65, 69, 73),
  $btn-width: 100%,
  $btn-height: 100%,
  $icon-size: 20px
) {
  min-width: $btn-width;
  min-height: $btn-height;
  background-color: $btn-color !important;

  &:hover {
    background-color: $btn-color-hover;
  }

  &:disabled {
    background-color: var(--btn-base-color);
    &:hover {
      background-color: var(--btn-base-color);
    }
  }

  svg {
    width: $icon-size;
    height: $icon-size;
    color: var(--btn-svg-color);
  }
}

@mixin BaseButton {
  background-color: var(--btn-base-color);
  &:hover {
    background-color: var(--btn-base-color-hover);
  }
  &:disabled {
    &:hover {
      background-color: var(--btn-base-color);
    }
  }
}
