--prefer-binary
--extra-index-url https://download.pytorch.org/whl/torch_stable.html
--trusted-host https://download.pytorch.org
accelerate~=0.14
albumentations
diffusers
einops
eventlet
facexlib
flask_cors
flask_socketio
flaskwebgui
getpass_asterisk
imageio-ffmpeg
kornia
numpy
pyreadline3
realesrgan
send2trash
streamlit
taming-transformers-rom1504
test-tube
torch-fidelity
torch
torchvision
transformers
picklescan
clip
clipseg
gfpgan
k-diffusion

